.filter-bar {
  align-content: center;
  display: flex;
  flex-direction: column;
}

.radius-border {
  border: 1px solid #444;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.container {
  border: 1;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  margin: 10px 0 20px 0;
  width: 70%;
}

.container span {
  font-size: 1.7em;
  margin-top: 10px;
  text-align: center;
}

.filter-button {
  background-color: rgb(38, 250, 38);
  font-family: sans-serif;
  font-weight: 700;
  width: 100%;
}
