.filter-bar {
  align-content: flex-start;
  display: flex;
  flex: 1 2 50%;
  flex-wrap: wrap;
}

.filters {
  flex-basis: 90%;
}

.radius-border {
  border: 1px solid #444;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.container {
  border: 0;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 0;
  width: 100%;
}

.container span {
  font-size: 1.2em;
  margin-top: 10px;
  text-align: center;
}

.filter-button {
  background-color: rgb(38, 250, 38);
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 700;
  width: 100%;
}
