table {
  margin-top: 1rem;
}

td, th {
  font-size: .5rem;
  padding: 1rem;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}

td {
  border-bottom: 1px solid rgba(103, 20, 128, 0.637);
  color: #ddd;
  font-size: .5rem;
}

th {
  border-bottom: 1px solid rgba(103, 20, 128, 0.637);
  color: rgb(255, 217, 0);
  font-size: .5rem;
}

.spinner {
  animation: sk-scaleout 1s infinite ease-in-out;
  background-color: white;
  border-radius: 100%;
  height: 15rem;
  margin: 4rem auto;
  width: 15rem;
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    background-color: rgba(103, 20, 128, 0.637);
    opacity: 0;
    transform: scale(1);
  }
}

.sort-button {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  margin: 0.2rem;
}