body {
  background-attachment: fixed;
  background-image: url('./images/space_background2.jpg');
  background-size: cover;
}

.sw-logo {
  display: block;
  margin: 2rem auto 1rem;
  width: 25rem;
}

.title {
  color: white;
  font-family: StarJedi;
  font-size: 3rem;
  margin-top: 1rem;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

@font-face {
  font-family: StarJedi;
  src: url('./fonts/Starjedi.ttf');
}
