.App {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  width: fit-content;
}

.page-header {
  padding: 20px;
}

.filters-div {
  border: white solid 2px;
  padding: 5px;
}

table, th, td {
  border: 1px solid white;
}
